body{
    background-color: white;
}

.pageHeader{
    padding: 20px;
    text-align: left;
    background: rgb(30, 30, 30);
    color: white;
    box-shadow: 3px 3px rgb(20, 20, 20);
}

#headerText{
    font-size: 20px;
}